body {
  background: #fff;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: auto;
}

.content {
  position: absolute;
  left: 225px;
  top: 0;
  bottom: 0;
  right: 0;
}
