.sidebar {
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 225px;
  background-color: #1B1E24;

  .logo {
    font-size: 3em;
    font-weight: 300;

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .menu {
    padding-left: 10px;

    h4 {
      color: #2b7;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bold;
    }
  }

  ul {
    padding-left: 15px;
    margin: 5px 0;
    list-style: none;
    border-left: 1px solid #333;

    li {
      font-size: 1em;

      a {
        color: #AAA;
        text-decoration: none;

        &.active, &:active {
          color: #2196f3;
        }
      }
    }
  }
}
